<nav class="fixed mb-5 right-0 bg-main pt-5 left-0 px-3 top-0 z-50">
  <div class="top-nav flex justify-between items-center border-b-2 pb-2">
      <% if controller_name == 'groups' and action_name == 'index' %>
        <div class="hamburger-menu">
          <svg class="stroke-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
      <% elsif controller_name == 'groups' and action_name != 'index' %>
        <div class="back-btn">
          <%= link_to groups_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
          <% end %>
        </div>
      <% elsif controller_name == 'expenses' %>
        <div class="back-btn">
          <%= link_to "#{action_name == 'index' ? groups_path : group_expenses_path}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
          <% end %>
        </div>
      <% end %>
      <h1 class="text-white text-2xl m-0 uppercase">
        <% if controller_name == 'expenses' %>
          <%= 'Transactions' %>
        <% else %>
          <%= 'Categories' %>
        <% end %>
      </h1>
      <div class="search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 stroke-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 10-4.773-4.773 3.375 3.375 0 004.774 4.774zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
  </div>
  <div class="my-3 flex justify-between">
    <span class="bg-white py-1 px-2 w-max rounded-lg text-main font-semibold grid grid-cols-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
    </svg>
      <%= current_user.name %>
      <% if controller_name == 'expenses' %>
        : $<%= @group.total_transactions %>
      <% end %>
    </span>
    <%= button_to destroy_user_session_path, method: :delete, class: 'flex items-center gap-2' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
      </svg>
      <span class="text-white font-semibold">Log Out</span>
    <% end %>
  </div>
</nav>